[submodule "src/fcitx5-lotus-bin"]
	path = src/fcitx5-lotus-bin
	url = https://aur.archlinux.org/fcitx5-lotus-bin.git
	branch = master
[submodule "src/nvidia-470xx-utils"]
	path = src/nvidia-470xx-utils
	url = https://aur.archlinux.org/nvidia-470xx-utils.git
	branch = master
[submodule "src/lib32-nvidia-470xx-utils"]
	path = src/lib32-nvidia-470xx-utils
	url = https://aur.archlinux.org/lib32-nvidia-470xx-utils.git
	branch = master
[submodule "src/nvidia-390xx-utils"]
	path = src/nvidia-390xx-utils
	url = https://aur.archlinux.org/nvidia-390xx-utils.git
	branch = master
[submodule "src/lib32-nvidia-390xx-utils"]
	path = src/lib32-nvidia-390xx-utils
	url = https://aur.archlinux.org/lib32-nvidia-390xx-utils.git
	branch = master
[submodule "src/visual-studio-code-bin"]
	path = src/visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git
[submodule "src/android-studio"]
	path = src/android-studio
	url = https://aur.archlinux.org/android-studio.git
[submodule "src/google-chrome"]
	path = src/google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "src/flutter-bin"]
	path = src/flutter-bin
	url = https://aur.archlinux.org/flutter-bin.git
[submodule "src/legcord-bin"]
	path = src/legcord-bin
	url = https://aur.archlinux.org/legcord-bin.git
[submodule "src/freetube-bin"]
	path = src/freetube-bin
	url = https://aur.archlinux.org/freetube-bin.git
[submodule "src/harmonymusic"]
	path = src/harmonymusic
	url = https://aur.archlinux.org/harmonymusic.git
[submodule "src/tuxver"]
	path = src/tuxver
	url = https://github.com/AnOS-Project/tuxver
